.alguma-coisa {
    color:firebrick
  }
.alguma-coisa-coisada {
      color:chocolate
  }
.nada{
      color:gold
  }
  .nada-nadinha {
     color: forestgreen;
  }
  .nadinha {
     color: mediumblue;
    }
    .legal {
      color: rebeccapurple;
    }
    .massa {
      color: hotpink;
    }